.card-add:hover{
    transition: 0.5s;
    background-color: rgba(0, 123, 255, 0.507);
    border: 1px solid #0592a8; /* Cambia el color según tus necesidades */
    
}

.card-add{
    background-color: rgba(0, 123, 255, 0.1);
    border: 1px solid #17a2b8; /* Cambia el color según tus necesidades */
}

.expanding-element {
    transition: max-height 0.10s;
    max-height: 0;
    overflow: hidden;
}

.expanding-element.expanded {
    max-height: 1000px;
    /* Altura máxima para mostrar todo el contenido */
}

.exercise-container {
    height: 500px;
}

.exercise-font {
    background-color: rgb(240, 240, 240);
    margin-bottom: 2rem;
}

.square-image {
    height: 6rem;
    /* Establece la altura deseada (4rem) */
    width: 100%;
    /* Establece el ancho al 100% */
    object-fit: cover;
    /* Opcional: Escala la imagen para llenar el espacio disponible */
}