.border-card{
    background-color:lightslategray;
    border-radius: 1rem;
}

.card-client{
    text-align: center;
}

 .card-client:hover .card-body{
    transition: 1s;
    background-color: #17a2b899;
}

.card-client:hover h5{
    transition: 0.8s;
    font-size: 1.4rem;
}

.card-client:hover {
    cursor: pointer;
    border: 5px solid #17a2b899;
}