.card-add:hover{
    transition: 0.5s;
    background-color: rgba(0, 123, 255, 0.507);
    border: 1px solid #0592a8; /* Cambia el color según tus necesidades */

}

.card-add{
    background-color: rgba(0, 123, 255, 0.1);
    border: 1px solid #17a2b8; /* Cambia el color según tus necesidades */
}

.exercise-container {
    height: 500px;
}

.exercise-font {
    background-color: rgb(240, 240, 240);
    margin-bottom: 2rem;
}